<style media='screen' type='text/css'>
      @font-face {
        font-family: bahn;
        src: url('./assets/font/BAHNSCHRIFT.TTF');
        font-weight:400;
        font-weight:normal;
      }
</style>
